{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}DWP Code Challenge{%  endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" >

        {% block styles %}{%  endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        {% block scripts %}{%  endblock %}
    </body>
</html>